<a href="casa.component.html">
  <button>Volver a la Página de Inicio</button>
</a>
<div class="card-container">

    <p-card header="MESSI" subheader="LIONEL ANDRES MESSI CUCCITTINI" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/c6/c7/01/c6c701f3c98dd223a2b290a4f2cad6aa.jpg" />
      </ng-template>
      <p>
        Lionel Messi es un futbolista argentino, considerado uno de los mejores de la historia. Destaca por su habilidad, goles y títulos, incluyendo un Mundial en 2022.  </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="PULGUITA TOMICA" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="NEYMAR" subheader="NEYMAR DA SILVA SANTOS JUNIOR" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/84/ca/a8/84caa8883a6ec3296390e4ac9f9042bb.jpg" />
      </ng-template>
      <p>
        Neymar es un futbolista brasileño, reconocido. Ha destacado en clubes como el Barcelona y PSG, y ha ganado títulos importantes con la selección de Brasil. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="PRINCIPE QUE NO FUE REY" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="SUAREZ" subheader="LUIS ALBERTO SUAREZ DIAZ" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/9e/5b/f3/9e5bf3a25865f29fd51306c213b3e6d1.jpg" />
      </ng-template>
      <p>
        Luis Suárez es un futbolista uruguayo, conocido por su instinto goleador. Ha jugado en clubes como el Barcelona y el Atlético de Madrid, logrando múltiples títulos y premios individuales. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="EL PISTOLERO" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="RONALDO" subheader="CRISTIANO RONALDO DOS SANTO AVEIRO" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/13/0e/d6/130ed6557c396730f40af62e77313f64.jpg" />
      </ng-template>
      <p>
        Cristiano Ronaldo, o CR7, es un futbolista portugués destacado por su capacidad goleadora y éxito en equipos como Manchester United, Real Madrid y Juventus. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="EL COMANDANTE" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="BENZEMA" subheader="KARIM MOSTAFA BENZEMA " [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/6e/1a/5b/6e1a5bb09b72c683fcdf88e7e5f408e2.jpg" />
      </ng-template>
      <p>
        Karim Benzema es un futbolista francés, reconocido por su capacidad de anotación y liderazgo. Ha sido clave en el Real Madrid, ganando numerosos títulos, incluidos varios Champions League. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="GATO" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="BALE" subheader="GARETH FRANK BALE " [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/9f/8d/4a/9f8d4a5781559f46f11dab6f5efe6eb0.jpg" />
      </ng-template>
      <p>
        Gareth Bale es un futbolista galés, destacado por su velocidad y habilidad en el campo. Ha jugado principalmente en el Real Madrid, donde ganó múltiples títulos, incluyendo Champions League. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="CARDIFF" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DYBALA" subheader="PAULO EXEQUIEL DYBALA " [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/7d/af/65/7daf654003fcd08e3a0378ada087fa9c.jpg" />
      </ng-template>
      <p>
        Paulo Dybala es un futbolista argentino, conocido por su técnica y visión de juego. Ha jugado en equipos como la Juventus y la Roma, destacándose como uno de los mejores delanteros de su generación. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="LA JOYA" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="ENNER" subheader="ENNER REMBERTO VALENCIA LASTRA " [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://pbs.twimg.com/media/GXILKETWMAM2IsQ?format=jpg&name=small" />
      </ng-template>
      <p>
        Enner Valencia es un futbolista ecuatoriano, conocido por su velocidad y capacidad goleadora. Ha jugado en equipos como el Everton y Fenerbahçe, destacándose también en la selección de Ecuador. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="EL GOAT" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  